{{extend name="public/base"}}
{{block name="content"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">管理员列表</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-condensed">
                <tr>
                    <td>ID</td>
                    <td>用户名</td>
                    <td>昵称</td>
                    <td>角色</td>
                    <td>添加日期</td>
                    <td>操作</td>
                </tr>
               {{volist name="data" id="vo"}}
                <tr>
                    
                    <td>{{$vo.id}}</td>
                    <td>{{$vo.username}}</td>
                    <td>{{$vo.nick_name}}</td>
                    <td>{{$vo->role->role_name}}</td>
                    <td>{{$vo.created_at}}</td>
                   

                    <td>
                        
                        <a href="" class="btn btn-primary">编辑</a>
                        <a href="#" class="btn btn-danger" onclick="return confirm('确认删除吗？？')">删除</a>
                    </td>
                   
                </tr>
                {{/volist}} 
            </table>
            {{$data->render()}}
          </div>
        </div>
        {{/block}}

