
    
      {{extend name="public/base"}}
      {{block name="title"}}{{/block}}
      {{block name="content"}}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">用户列表</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-condensed">
                <tr>
                    <td>Id</td>
                    <td>用户名</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>2019-05-31 14:16:25</td>
                    <td>
                        <a href="#" class="btn btn-success">查看</a>
                        <a href="#" class="btn btn-primary">编辑</a>
                        <a href="#" class="btn btn-danger">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>张三丰</td>
                    <td>2019-05-31 14:16:25</td>
                    <td>
                        <a href="#" class="btn btn-success">查看</a>
                        <a href="#" class="btn btn-primary">编辑</a>
                        <a href="#" class="btn btn-danger">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>张翠山</td>
                    <td>2019-05-31 14:16:25</td>
                    <td>
                        <a href="#" class="btn btn-success">查看</a>
                        <a href="#" class="btn btn-primary">编辑</a>
                        <a href="#" class="btn btn-danger">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>张无忌</td>
                    <td>2019-05-31 14:16:25</td>
                    <td>
                        <a href="#" class="btn btn-success">查看</a>
                        <a href="#" class="btn btn-primary">编辑</a>
                        <a href="#" class="btn btn-danger">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>张大民</td>
                    <td>2019-05-31 14:16:25</td>
                    <td>
                        <a href="#" class="btn btn-success">查看</a>
                        <a href="#" class="btn btn-primary">编辑</a>
                        <a href="#" class="btn btn-danger">删除</a>
                    </td>
                </tr>
            </table>
          </div>
        </div>
        {{/block}}
 








     