<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">XXXX项目管理后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#">控制面板</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="{{:url('admin/admin/login')}}">后台管理</a></li>
            {{if condition="session('?admin')"}}
            <li><a href="#">{{:session('admin.nick_name')}}</a></li>
            <li><a href="{{:url('admin/admin/logout')}}">退出</a></li>
            
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>