       <footer class="footer row">
        <div class="footer-top">
            <div class="col-md-6">
                <h4>站点介绍</h4>
                <p>ThinkPHP 是一个免费开源的，快速、简单的面向对象的 轻量级PHP开发框架 ，创立于2006年初，遵循Apache2开源协议发布，是为了敏捷WEB应用开发和简化企业应用开发而诞生的。ThinkPHP从诞生以来一直秉承简洁实用的设计原则，在保持出色的性能和至简的代码的同时，也注重易用性。并且拥有众多的原创功能和特性，在社区团队的积极参与下，在易用性、扩展性和性能方面不断优化和改进，已经成长为国内最领先和最具影响力的WEB应用开发框架，众多的典型案例确保可以稳定用于商业以及门户级的开发。</p>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <h4>关于我们</h4>
                    <ul class="list-unstyled">
                       <li><a href="#">公司介绍</a></li>
                       <li><a href="#">公司亮点</a></li> 
                       <li><a href="#">公司特点</a></li>
                       <li><a href="#">公司地址</a></li>
                       <li><a href="#">公司未来发展方向</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>售后服务</h4>
                    <ul class="list-unstyled">
                       <li><a href="#">物流合作</a></li>
                       <li><a href="#">物流进度</a></li> 
                       <li><a href="#">链接标题1</a></li>
                       <li><a href="#">链接标题1</a></li>
                       <li><a href="#">链接标题1</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>配送方式</h4>
                    <ul class="list-unstyled">
                       <li><a href="#">链接标题1</a></li>
                       <li><a href="#">链接标题1</a></li> 
                       <li><a href="#">链接标题1</a></li>
                       <li><a href="#">链接标题1</a></li>
                       <li><a href="#">链接标题1</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom col-sm-12">
            <ul class="list-inline text-center">
                <li>技术支持: 张锦涛</li>
                <li>张-ICP备100000001号</li>
            </ul>
        </div>
    </footer>