{{extend name="public/base"}}
      {{block name="title"}}{{/block}}
      {{block name="content"}}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">文章列表</h2>
          <form  method="get" class="form-inline">
            <div class="form-group">
                <label class="sr-only">文章标题</label>
                <input type="text" name="subject" class="form-control" placeholder="请输入关键字"  value="{{:input('param.subject')}}">
            </div>
            <div class="form-group">
                <input type="submit" name="" value="搜索" class="btn btn-primary">
                
            </div>
        </form>
        <hr>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-condensed">
                <tr>
                    <td>序号</td>
                    <td>作者</td>
                    <td>文章标题</td>
                    <td>文章类型</td>
                    <td>是否上线</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                {{volist name="res" id="vo"}}
                <tr>
                    
                    <td>{{$vo.id}}</td>
                    <td>{{$vo->author->username}}</td>
                    <td>{{$vo.subject}}</td>
                    <td>{{$vo->category->category_name}}</td>
                    <td>{{$vo.is_online}}</td>
                    <td>{{$vo.created_at}}</td>

                    <td>
                        <a href="{{:url('index/article/read',['id'=>$vo.id])}}" class="btn btn-success" target="_blank">查看</a>
                        <a href="{{:url('admin/article/edit',['id'=>$vo.id])}}" class="btn btn-primary">编辑</a>
                        <a href="{{:url('admin/article/delete',['id'=>$vo.id])}}" class="btn btn-danger" onclick="return confirm('确认删除吗？？')">删除</a>
                    </td>
                   
                </tr>
                {{/volist}} 
            </table>
            {{$res->render()}}
          </div>
        </div>
        {{/block}}
 